@inject Zora.Shared.Services.Identity.ICurrentUserService currentUser
<ul class="navbar-nav ml-auto">
    @if (!string.IsNullOrEmpty(currentUser.UserId))
    {
        @if (!currentUser.IsAdministrator)
        {
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Users" asp-action="Profile" title="Manage">@UITextConstants.Profile</a>
            </li>
        }
        <li class="nav-item active">
            <form class="form-inline my-2 my-lg-0" asp-controller="Users" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link">@UITextConstants.Logout</button>
            </form>
        </li>
    }
    else
    {

        <li class="nav-item active"><a class="nav-link" asp-controller="Users" asp-action="Register">@UITextConstants.Register</a></li>
        <li class="nav-item active"><a class="nav-link" asp-controller="Users" asp-action="Login">@UITextConstants.Login</a></li>

    }
</ul>



