@model ContactBindingModel

@{
    ViewData["Title"] = "Contact";
}
<br />
<br />
<h4>@UITextConstants.Registration</h4>
<br />
<hr />
<br />
<a href="~/images/Uploads/Application.pdf">@UITextConstants.Application</a>
<br />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadImage" class="control-label"></label>
                <div class="input-group">
                    <div class="custom-file input-group-append">
                        <input asp-for="UploadImage" type="file" class="custom-file-input" id="myInput" aria-describedby="myInput">
                        <label class="custom-file-label" for="myInput">@UITextConstants.Application</label>
                    </div>
                </div>
                <span asp-validation-for="UploadImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@UITextConstants.Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Upload.js"></script>
}


