<br />
<br />
<br />
<h4>@UITextConstants.Contact</h4>
<br />

<div>
    <hr />
    <br />
    <dl class="row">
        <dt class="col-sm-1">
            <i class="fas fa-address-card"></i>
        </dt>
        <dd class="col-sm-11">
            Address
        </dd>
        <dt class="col-sm-1">
            <i class="fas fa-envelope"></i>
        </dt>
        <dd class="col-sm-11">
            @*todo may be mail form*@
            <a href="mailto:webmaster@example.com">email address</a>
        </dd>
        <dt class="col-sm-1">
            <i class="fas fa-phone-square"></i>
        </dt>
        <dd class="col-sm-11">
            Phone
        </dd>
        <dt class="col-sm-1">
            <i class="fab fa-facebook-square"></i>
        </dt>
        <dd class="col-sm-11">
            <a href="https://www.facebook.com/zora.bgcenter/" target="_blank">Facebook</a>
        </dd>
    </dl>
</div>
